.bookmark {
  position:relative;

  &__title {
    color: #fff;
    font-weight: 200;
    font-size: 22px;
    max-width: calc(100% - 64px);
  }

  &__edit {
    position: absolute;
    width: 64px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    a + a {
      margin-left: 8px;
    }
  }
}
