.button {
  display: inline-block;
  outline: none;
  border: none;
  overflow: hidden;
  cursor: pointer;

  color: $black;
  border-radius: 3px;

  &:disabled {
    color: $black;
  }

  &--feature {
    font-size: 22px;

    span {
      display: inline-block;
      padding: 12px 64px;
      background-color: $brand-primary;
    }
  }
}
