$black: #111;

$brand-primary: #2cfdc9;
$brand-secondary: #262626;

$body-background: $brand-secondary;
$body-color: #434343;
$body-font: 'Source Sans Pro', sans-serif;

$header-background: #424242;
$header-color: #949494;
$header-font: 'Open Sans Condensed', sans-serif;

$feature-font: 'Inconsolata', monospace;
$feature-color: #00a9ce;
